.edit-rule-page[data-v-a18019cd]{max-width:1200px;margin:0 auto;padding:24px}.sticky-card[data-v-a18019cd]{position:sticky;top:24px}[data-v-a18019cd] .v-textarea .v-field__input{font-family:Roboto Mono,monospace;font-size:14px}
